.center > #comfort-plant {
  font-size: 30px;
  margin: 110px 0 5px 0;
}

.center > p {
  font-size: 20px;
  margin-bottom: 32px;
}

#no-user {
  font-size: 12px;
  color: #ff0000;
  margin: 15px auto 15px auto;
  width: 368px;
  text-align: left;
  visibility: hidden;
}
