.plantkeep1-title p {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
}
.plantkeep1-middle1 {
  margin-left: 30px;
}
.plantkeep1-middle1 p:first-child {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
.plantkeep1-middle1 p:nth-child(2) {
  font-size: 15px;
  font-weight: 600;
}
.plantkeep1-graph {
  height: 250px;
  text-align: center;
}
/*그래프 들어가야 됨 위치만 잡아둠*/
.plantkeep1-plant {
  padding-bottom: 90px;
  text-align: center;
}
#plantkeep1-redplant {
  display: block;
  height: 300px;
  width: 185px;
  margin: auto;
}
