.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title p {
  font-size: 25px;
  font-weight: 600;
}

.level-exp {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.level-exp span {
  font-size: 20px;
}

#wateringcan {
  margin: 50px 10px 0 30px;
  cursor: pointer;
  float: left;
}

#sun {
  float: right;
  margin-right: 30px;
}

.top-img::after {
  content: "";
  display: block;
  clear: both;
}

#levelplant {
  display: flex;
  justify-content: center;
}

#plantname {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#plantname span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 1cm;
  height: 40px;
  width: 100px;
  font-weight: 600;
}

.plant-storage {
  display: flex;
  justify-content: center;
  align-items: center;
}

#plant-storage {
  margin-top: 30px;
  border: none;
  border-radius: 0.3cm;
  background-color: #3b5997;
  width: 350px;
  height: 50px;
  cursor: pointer;
}

.plant-storage span {
  font-size: 20px;
  color: white;
}

.location {
  margin-top: 30px;
  margin-right: 15px;
}
