.nav-top {
  display: flex;
  align-items: center;
  height: 62px;
  border-bottom: 1px solid #d9d9d9;
}
.nav-top i {
  margin-left: 15px;
  font-size: 30px;
  color: rgb(117, 170, 203);
}
.nav-top span {
  margin: auto;
  font-size: 20px;
}
